<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
  <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
      <tr>
        <th scope="col" class="px-6 py-3">
          {{ 'leaderboard.place' | translate }}
        </th>
        <th scope="col" class="px-6 py-3">
          {{ 'leaderboard.user_name' | translate }}
        </th>
        <th scope="col" class="px-6 py-3">
          {{ 'leaderboard.points' | translate }}
        </th>
        <th scope="col" class="px-6 py-3">
          {{ 'leaderboard.trips_count' | translate }}
        </th>
      </tr>
    </thead>
    <tbody>
      @if (users$ | async; as users) {
        @for (user of users; track user.id; let i = $index) {
          <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
            <td class="px-6 py-4 font-medium text-gray-900 dark:text-white">
              {{ i + 1 }}
            </td>
            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
              <div class="flex items-center gap-3">
                <lib-avatar [src]="user.avatarUrl" [name]="user.name" size="sm" />
                <span>{{ user.name }}</span>
              </div>
            </th>
            <td class="px-6 py-4">{{ user.points }}</td>
            <td class="px-6 py-4">{{ user.tripsCount }}</td>
          </tr>
        }
      }
    </tbody>
  </table>
</div>
