<div class="space-y-4 flex-1 overflow-y-auto">
  @for (message of messages; track message.id) {
    @if (message.sender.id === userId) {
      <div class="flex justify-end">
        <div class="bg-blue-500 text-white p-2 rounded-lg">
          <p class="text-sm">{{ message.content }}</p>
        </div>
      </div>
    } @else {
      <div class="flex">
        <img class="w-8 h-8 rounded-full mr-3" src="https://flowbite.com/docs/images/people/profile-picture-1.jpg"
             alt="User"/>
        <div class="bg-gray-200 dark:bg-gray-700 p-2 rounded-lg">
          <p class="text-sm text-gray-900 dark:text-white">{{ message.content }}</p>
        </div>
      </div>
    }
  }
</div>
