@if (user) {
  <li class="p-4 hover:bg-gray-200 dark:hover:bg-gray-700 cursor-pointer">
    <div class="flex items-center">
      @if (user.avatarUrl) {
        <img class="w-10 h-10 rounded-full mr-3" ngSrc="{{ user.avatarUrl }}" alt="User"/>
      } @else {
        <img class="w-10 h-10 rounded-full mr-3" src="https://flowbite.com/docs/images/people/profile-picture-1.jpg" alt="User"/>
      }

      <div>
        <p class="text-sm font-semibold text-gray-900 dark:text-white">{{ user.name }}</p>
      </div>
    </div>
  </li>
}

@if (chat) {
  <li class="p-4 hover:bg-gray-200 dark:hover:bg-gray-700 cursor-pointer">
    <div class="flex items-center">
      @if (chat.user.avatarUrl) {
        <img class="w-10 h-10 rounded-full mr-3" ngSrc="{{ user.avatarUrl }}" alt="User"/>
      } @else {
        <img class="w-10 h-10 rounded-full mr-3" src="https://flowbite.com/docs/images/people/profile-picture-1.jpg" alt="User"/>
      }

      <div>
        <p class="text-sm font-semibold text-gray-900 dark:text-white">{{ chat.user.name }}</p>
        <p class="text-sm text-gray-500 dark:text-gray-400 truncate">{{ chat.chat.name }}</p>
      </div>
    </div>
  </li>
}
