name: CI

on:
  push:
    branches:
      - master
  pull_request:

permissions:
  actions: read
  contents: read

jobs:
  main:
    runs-on: ubuntu-latest
    env:
      NODE_ENV: production
      URL: http://localhost:4200
      API_URL: https://travel-map-backend-2vuy.onrender.com

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm'

      - run: npm ci
      - run: npx cypress install

      - run: npx nx build travel-map-frontend --prod

      - name: Run e2e tests
        run: |
          npx nx run travel-map-frontend:serve-static &

          npx wait-on http://localhost:4200
          # Запуск Cypress
          npx nx run travel-map-frontend-e2e:e2e --headless
